.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.show-container {
    width: 300px;
    margin: 10px
}

.show-container img {
    width: 100%;
    object-fit: cover; 
    aspect-ratio: 1/1 ;
}

.button-effect {
    display: block;
    transform: scale(1.0);
    transition: transform 0.23s ease-in-out;
  }
  
  .button-effect:hover {
    transform: scale(1.13);
    filter: drop-shadow(0 0 10px rgba(0, 5, 9, 0.319));
    z-index: 999;
  }
  
  /* Disable hover effects on mobile */
  @media (max-width: 768px) {
    .button-effect:hover
    {
        transform: scale(1.0);
        filter: none;
    }
  }